
body{
    text-align: center;
    background-color: beige;
}
#studentForm{
    width: 70%;
    border-collapse: collapse;
    text-align: center;
}
#btns{
    width: 150px;
    height: 20px;
    border-radius: 15px;
    background-color: aqua;
    color: black;
}
table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }
    th, td {
      padding: 8px;
      text-align: center;
    }
.delbtn{
    background-color: red;
    color: aliceblue;
}
.container{
    display: flex;
  flex-direction: column;
  align-items: center;       /* Horizontal centering */
  justify-content: center;   /* Vertical centering */

}
